<p id="p-cc-addresses">
<%- form.fields_for :cc_addresses do |cc_address| %>
	<p>
		<%= cc_address.text_field :mail, :size => 50 %>
		<%= cc_address.hidden_field :issue_id, :value => issue.id %>
		<input type="button" value="+" />
	</p>
<%- end %>
</p>